.orange{
    background-color: rgb(198, 145, 48);
}

#header-wrapper{
    padding: 20px;
    padding-bottom: 0;
    
}

body{
    background-image: url(assets\images\ramen.png);
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    margin: 0 5% 0 5%;
    background-color: #ffe0ad !important;
    max-width: 400px !important;
    min-width: 300px;
}

.card-year{
    padding: 3px 5px 3px 5px;
    background-color: rgb(163 147 147 / 20%);
    border-radius: 5px;
}

.image{
    max-width: 500px;
    min-width: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.card-image{
    max-width: 350px;
    object-fit: cover;
    margin: 0 auto;
}

.align{
    text-align: center;
}

@media(max-width: 970px){
#wrapper{
    justify-content: center;
}
}

.footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -1px;
}